@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');
@import "tailwindcss";

@theme {
    --color-cetzz: #49537e;
    --color-labs: #18183a;

    --color-primary-50: #edfcfe;
    --color-primary-100: #d0f6fd;
    --color-primary-200: #a8ecf9;
    --color-primary-300: #6bdcf5;
    --color-primary-400: #20c0e7;
    --color-primary-500: #0ca6ce;
    --color-primary-600: #0d84ad;
    --color-primary-700: #126a8c;
    --color-primary-800: #185672;
    --color-primary-900: #184861;
    --color-primary-950: #0a2e42;


    --color-accent-50: #fff1f0;
    --color-accent-100: #ffe0dd;
    --color-accent-200: #ffc5c0;
    --color-accent-300: #ff9d94;
    --color-accent-400: #ff6557;
    --color-accent-500: #ff3623;
    --color-accent-600: #ff1903;
    --color-accent-700: #d71200;
    --color-accent-800: #b21203;
    --color-accent-900: #92160a;
    --color-accent-950: #500700;

    --color-black-50: #f6f6f6;
    --color-black-100: #e7e7e7;
    --color-black-200: #d1d1d1;
    --color-black-300: #b0b0b0;
    --color-black-400: #888888;
    --color-black-500: #6d6d6d;
    --color-black-600: #5d5d5d;
    --color-black-700: #4f4f4f;
    --color-black-800: #454545;
    --color-black-900: #3d3d3d;
    --color-black-950: #000000;
    --shadow-cetzz: 0 0 30px -5px #ff655788;
    --shadow-labs: 0 0 30px -5px #20c0e788;

    --transition-duration-pro: .25s;
}

* {
    scroll-behavior: smooth;
    font-family: "Lato", sans-serif;
}

.link-btn {
    @apply hover:text-accent-400 transition-colors duration-pro;
}

.btn-link {
    @apply p-2 bg-gradient-to-bl from-primary-500 to-primary-700 rounded-full flex items-center justify-center hover:from-black-950 hover:to-transparent hover:outline hover:outline-primary-500 hover:shadow-lg hover:shadow-primary-600/40 transition-colors duration-pro;
}

.btn-link-secundary {
    @apply p-2 rounded-full flex items-center justify-center bg-black/40 outline outline-accent-500 hover:outline-accent-400 hover:scale-110 transition-all duration-pro;
}

.btn-primary {
    @apply px-6 py-2 bg-primary-600 rounded-md hover:bg-transparent hover:outline hover:outline-primary-600 hover:shadow-lg hover:shadow-primary-600/40 transition-colors duration-pro;
}

.btn-primary-big {
    @apply px-8 py-4 bg-primary-600 rounded-lg hover:bg-transparent hover:outline hover:outline-primary-600 transition-colors duration-pro shadow-lg shadow-primary-600/40;
}

.btn-secundary-big {
    @apply px-8 py-4 bg-gradient-to-br from-accent-400 to-accent-700 rounded-lg hover:bg-transparent hover:outline hover:outline-accent-400 transition-colors duration-pro shadow-lg shadow-accent-500/40;
}

.btn-secundary {
    @apply outline outline-primary-600 px-6 py-2 rounded-md hover:bg-primary-600 hover:text-white transition-colors duration-pro shadow-lg shadow-primary-600/40;
}

.container-labs {
    @apply container lg:max-w-6xl mx-auto px-6;
}

.card {
    @apply py-12 px-6 rounded-2xl bg-black-900/10 backdrop-blur-lg shadow-lg hover:scale-105 hover:outline hover:outline-accent-400 hover:shadow-cetzz transition-all duration-pro;
}

.process-card {
    @apply flex flex-col items-center bg-gradient-to-br from-primary-400/10 rounded-lg p-12 px-6 backdrop-blur-lg hover:shadow-labs outline outline-primary-400/50 hover:outline-primary-400 hover:scale-105 transition-all duration-pro;
}

.process-arrow {
    @apply text-accent-400/60 drop-shadow-md drop-shadow-accent-400 hover:scale-105 transition-transform duration-pro;
}

.process-card:hover {
    animation: card-animation 1s alternate infinite;
}

.process-icon {
    @apply size-14 flex items-center justify-center rounded-full text-xl font-bold shadow-md shadow-primary-400 mb-6;
}

.icon-size {
    @apply size-10;
}

.card-icon {
    @apply size-12 mx-auto rounded-full flex items-center justify-center p-3 mb-6;
}

.service-card-icon {
    @apply bg-gradient-to-br from-accent-400 to-accent-700;
}

.card:hover .service-card-icon {
    animation: icon-animation 1s alternate infinite;
}

.title-style {
    @apply bg-gradient-to-br from-primary-600 to-primary-200 bg-clip-text text-transparent text-shadow-md text-shadow-primary-300/40;
}

.title-secundary {
    @apply text-3xl font-bold mb-4;
}

.title-card {
    @apply text-xl font-semibold mb-4;
}

.rocket-bg {
    @apply absolute size-90 bg-radial from-labs blur-2xl rounded-full lg:block hidden;
}

.contact-icon {
    @apply text-neutral-400 transition-colors duration-300;
}

.contact-card {
    @apply flex items-center gap-4 p-6 max-w-[500px] w-full lg:w-auto lg:min-w-[300px] bg-black-900/10 backdrop-blur-lg border border-black-900 rounded-lg transition-all duration-300 hover:bg-black-900/20 hover:border-primary-400/30 hover:shadow-lg hover:shadow-primary-700/50;
}

.contact-card:hover .contact-icon {
    @apply text-primary-400;
    animation: contact-icon-animation 1s alternate infinite;
}

.social-media {
    @apply text-neutral-500 transition-all duration-300 hover:text-accent-400 hover:scale-115;
}

.contact-whatsapp {
    @apply flex items-center justify-center gap-3 font-semibold bg-green-500 text-white py-4 px-8 rounded-lg shadow-lg shadow-green-500/20 transform transition-all duration-300 hover:bg-green-600 hover:shadow-xl hover:shadow-green-500/30 hover:scale-110 active:scale-100;
}

@keyframes icon-animation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-10px);
    }
}

@keyframes contact-icon-animation {
    0% {
        transform: translateY(0px);
    }

    100% {
        transform: translateY(-3px);
    }
}

@keyframes card-animation {
    0% {
        transform: rotate(-6deg);
    }

    50% {
        transform: rotate(6deg);
    }

    100% {
        transform: rotate(0deg);
    }
}