---
import { NotebookPen } from "@lucide/astro";
import Arrow1 from "./svg/Arrow1.astro";
import Arrow2 from "./svg/Arrow2.astro";
import Arrow3 from "./svg/Arrow3.astro";
---

<section
    id="proceso"
    class="py-20 bg-radial from-labs to-black-950 to-60% relative"
>
    <div class="container-labs text-center">
        <h2 class="title-secundary title-style">Así trabajamos</h2>
        <p class="text-lg mb-16 text-gray-300">
            Nuestro proceso es simple, claro y pensado para que tengas tu web
            lista sin complicaciones.
        </p>

        <!-- Versión Mobile -->
        <div class="flex flex-col gap-8 md:hidden">
            <div class="process-card">
                <div class="process-icon">1</div>
                <h3 class="title-card">Reunión inicial</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Conversamos sobre tus ideas y lo que necesitas para tu
                    negocio.
                </p>
            </div>
            <div class="process-card">
                <div class="process-icon">2</div>
                <h3 class="title-card">Diseño</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Creamos un diseño único adaptado a tu marca y te mostramos
                    un prototipo.
                </p>
            </div>
            <div class="process-card">
                <div class="process-icon">3</div>
                <h3 class="title-card">Desarrollo</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Construimos tu web optimizada, responsive y lista para
                    Google.
                </p>
            </div>
            <div class="process-card">
                <div class="process-icon">4</div>
                <h3 class="title-card">Entrega y soporte</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Publicamos tu web y te brindamos soporte continuo.
                </p>
            </div>
        </div>

        <!-- Versión Desktop -->
        <div
            class="hidden md:grid relative grid-cols-4 grid-rows-2 gap-6 md:gap-10"
        >
            <div
                class="col-start-1 row-start-2 flex items-center justify-center rotate-12 text-accent-400/60 hover:text-accent-300 hover:scale-105 transition-transform duration-pro"
            >
                <NotebookPen class="size-30" />
            </div>
            <div class="process-card">
                <div class="process-icon">1</div>
                <h3 class="title-card">Reunión inicial</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Conversamos sobre tus ideas y lo que necesitas para tu
                    negocio.
                </p>
            </div>

            <div
                class="col-start-2 row-start-1 rotate-45 flex items-end justify-end pb-10 process-arrow"
            >
                <Arrow2 />
            </div>

            <div class="process-card col-start-2 row-start-2">
                <div class="process-icon">2</div>
                <h3 class="title-card">Diseño</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Creamos un diseño único adaptado a tu marca y te mostramos
                    un prototipo.
                </p>
            </div>

            <div
                class="col-start-3 row-start-2 rotate-[220deg] flex items-end justify-end pr-8 pb-8 process-arrow"
            >
                <Arrow1 />
            </div>

            <div class="process-card col-start-3 row-start-1">
                <div class="process-icon">3</div>
                <h3 class="title-card">Desarrollo</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Construimos tu web optimizada, responsive y lista para
                    Google.
                </p>
            </div>

            <div
                class="col-start-4 row-start-1 rotate-[75deg] flex items-end justify-end pb-8 process-arrow"
            >
                <Arrow3 />
            </div>

            <div class="process-card col-start-4 row-start-2">
                <div class="process-icon">4</div>
                <h3 class="title-card">Entrega y soporte</h3>
                <p class="text-gray-300 text-sm mt-2">
                    Publicamos tu web y te brindamos soporte continuo.
                </p>
            </div>
        </div>
    </div>
</section>
