---
import { Image } from "astro:assets";
import Facebook from "../svg/social/Facebook.astro";
import Instagram from "../svg/social/Instagram.astro";
import WhatsApp from "../svg/social/WhatsApp.astro";
---

<header class="fixed w-full flex mt-4 z-50 justify-center items-center">
  <div
    class="w-7xl bg-black-950 rounded-full px-4 py-2 md:px-8 md:py-4 flex items-center justify-between"
  >
    <nav
      class="flex items-center gap-4 justify-between grow px-6 md:px-20 text-sm text-gray-300"
    >
      <a href="#">Nosotros</a>
      <a href="#">Servicios</a>
      <a href="#">Portafolio</a>
    </nav>
    <div class="flex items-center gap-2">
      <Image src="/logo.webp" alt="" width={24} height={24} />
      <span class="text-lg font-bold">CetZz Labs</span>
    </div>
    <nav
      class="flex items-center gap-4 justify-between grow px-6 md:px-20 text-sm text-gray-300"
    >
      <a href="">Procesos</a>
      <a href="">Contacto</a>
      <div class="flex items-center gap-2">
        <a href="">
          <WhatsApp class="size-1" size={12} />
        </a>
        <a href="">
          <Facebook class="size-1" />
        </a>
        <a href="">
          <Instagram class="size-1" />
        </a>
      </div>
    </nav>
  </div>
</header>
