---
import Icons from "./Icons.astro";
import { whatsApp } from "../../data/data";
---

<div class="sticky-contact">
    <a
        href={whatsApp.url}
        target="_blank"
        title={whatsApp.name}
        aria-label={whatsApp.name}
        class="block bg-green-500 text-white rounded-full shadow-2xl p-4 hover:bg-green-600"
    >
        <Icons name={whatsApp.name} />
    </a>
</div>
